<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="fish">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="9.85895449438687E-10 -0.00018605636510037 0.100990087597901"
        rpy="0 0 0" />
      <mass
        value="0.0153278250634477" />
      <inertia
        ixx="4.87410825907015E-06"
        ixy="2.11122880109933E-13"
        ixz="2.70685541787838E-15"
        iyy="2.25933313331448E-06"
        iyz="-4.35275611612696E-08"
        izz="6.91219190318951E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fish/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.627450980392157 0.627450980392157 0.627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://fish/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>